.result-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
    background-color: #2E865F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 2rem;
}

.result-head {
    color: #F7DC6F;
    font-size: 2.5rem;
}

.quiz-score {
    color: white;
    font-size: 2rem;
}

.score {
    color: white;
    font-size: 1.7rem;
}